.dropdown-main{
    width : 30%;
    padding: 1%;
    font-family: 'Poppins';
    box-sizing: border-box;
    margin: auto;
    position: relative;
    margin-bottom: 10px;
    border:1px solid black;
    border-radius: 10px;
}

.dropdown-main label{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-main label svg{
    margin-left: 1%;
}

.dropdown-select{
    margin-left: 10px;
    padding: 1%;
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 16px;
}

.dropdown-list-container{
    min-width:50%;
    border:1px solid red;
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 20; 
}

.dropdown-option{
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

@media screen and (max-width : 900px){
    .dropdown-main{
        width : 40%;
    }
}

@media screen and (max-width : 750px){
    .dropdown-main{
        width : 60%;
    }
}