.login_main{
    padding: 2%;
    margin-top: 2%;
}

.login_form{
    width : 35%;
    box-shadow: 0 0 2px black;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.637);
    padding-bottom: 2%;
    font-family: 'Poppins';
}

.login_container {
    margin-bottom: 3%;
    width : 70%;
    position: relative;
    display: flex;
    align-items: center;
}

.form_input{
    padding : 5%;
    width : 100%;
    font-size: 1rem;
    border-radius: 20px;
    font-family: 'Poppins';
    padding-right: 10px;
}

.form_btn{
    padding: 2%;
    width : 60%;
    margin-top: 3%;
    border-radius: 20px;
    font-size: 0.9rem;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.764);
    cursor: pointer;
}

.form_btn:hover{
    background-color: rgba(0, 0, 0, 0.80);
}

.toggle-password {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px; /* Adjust size as needed */
    color: #555; /* Adjust color as needed */
}

@media screen and (max-width : 1000px) {
    .login_form{
        width :  65%;
    }
}

@media screen and (max-width : 700px) {
    .login_form{
        width :  80%;
    }
}

@media screen and (max-width : 475px) {

    .login_container{
        width : 80%;
        margin-left: -7%;
    }
}

@media screen and (max-width : 350px) {
    .login_form{
        width :  95%;
        margin-top: 5%;
        min-height : 300px;
    }

    .form_btn{
        margin-bottom: 10px;
    }
}