.App {
  text-align: center;
  padding: 0;
}

.link{
  text-align: left;
  color : black;
  text-decoration: none;
  cursor: pointer;
}

.link:hover{
  text-decoration: underline;
}


.flex-justify-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-title{
  font-size: 1rem;
}

.span-font{
  font-size: 0.9rem;
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
